{% extends "NakupujemShopBundle::layout.html.twig" %}

{% block title %}Produkty{% endblock %}
        {% block filters %}
                <h5 class="text-faded">{{"txt.filter"|trans|raw}}</h5>
    <div class="product-filter">
        <!-- Filters -->
<div class="filter-bar bg-white">
    <form class="margin-none form-inline">
        <div class="row margin-none">
        
        
             <div class="col-md-8">
                <div class="row margin-none">
                    <div class="form-group col-md-6 padding-none">
                        <label class="label-control">Sort:</label>
                        <div class="col-md-6 padding-none">
                            <select name="from" class="selectpicker margin-none" data-style="btn-default" data-width="100%">
                                <option>A-Z</option>
                                <option>Min to Max</option>
                                <option>Popular</option>
                            </select>
                        </div>
                    </div>
                    <!-- // Select END -->
                
                    <!-- Min -->
                    <div class="form-group col-md-3 padding-none">
                        <label>Min:</label>
                        <div class="input-group">
                            <input type="text" name="from" class="form-control" value="100" />
                            <span class="input-group-addon"><i class="fa fa-euro"></i></span>
                        </div>
                    </div>
                    <!-- // Min END -->
                    <!-- Max -->
                    <div class="form-group col-md-3 padding-none">
                        <label>Max:</label>
                        <div class="input-group">
                            <input type="text" name="from" class="form-control" value="500" />
                            <span class="input-group-addon"><i class="fa fa-euro"></i></span>
                        </div>
                    </div>
                    <!-- // Max END -->
                </div>
            </div>

            <div class="col-md-4 text-right">
                <div class="form-group padding-none">
                    <div class="btn-group">
                        <a href="" class="btn btn-primary"><i class="fa fa-list"></i></a>
                        <a href="" class="btn btn-default"><i class="fa fa-th"></i></a>
                    </div>
                </div>      
            </div>
        
        </div>
    </form>
</div>
<!-- // Filters END -->



 
    </div>
        {% endblock %}
{% block products %}
<h5 class="text-faded margin-none">{{"txt.products"|trans|raw}}</h5>
	{% if not products %}
		<h2>Žiadne produkty, všetko sa vypredalo</h2>
	{% else %}
	<div class="row">
		{% for product in products %}
		<div class="col-sm-4 col-xs-12">
			<div class="widget widget-pinterest fixed-height" data-animate="bounceIn" data-delay="200">
				<div class="mark">
					<span class="caret caret-primary"></span>
					<span class="text">TOP</span>  
				</div>
				<div class="widget-body padding-none">
					<a href="{{path('product_show', {"product_id": product.id})}}" class="thumb">
						{% if product.photo[0] is defined %}
							<img src="{{asset('uploads/photos/')}}{{product.photo[0].path}}" alt="" class="img-responsive"></a>
						{% else %}
						<img src="{{asset('assets/images/fashion/female/')}}3.jpg" alt="" class="img-responsive"></a>
						{% endif %}
					<div class="description">
						<a href="cart.html" class="btn btn-primary btn-circle pull-right"><i class="fa fa-info"></i></a>
						<h5 class="text-uppercase">{{product.title}}</h5>
						<span class="text-primary text-medium text-condensed">&euro;{{product.price}}</span>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
{% endif %}
{% endblock %}
 
{% block slider %}
{% for key, product in products if key < 5 %}
<div class="item">
        <div class="box-generic">
            <div class="wrapper">
                <div class="row">
                    <div class="col-lg-9 col-md-8 padding-none">
                        <a href="product.html">
                            {% if product.photo[0] is defined %}
								<img src="{{asset('uploads/photos/')}}{{product.photo[0].path}}" alt="" class="img-responsive">
							{% else %}
								<img src="{{asset('assets/images/fashion/female/')}}3.jpg" alt="" class="img-responsive">
							{% endif %}
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 padding-none">
                        <div class="innerAll inner-2x">
                            <a href="cart.htmlcart.html" class="btn btn-primary btn-circle pull-right"><i class="fa fa-shopping-cart"></i></a>
                            <h3 class="text-uppercase">{{product.title}}</h3>
                            <span class="text-primary text-medium text-condensed">&euro;{{product.price}}</span>
                            <div class="clearfix"></div>
                            <div class="separator"></div>

                            <p class="innerTB">{{product.description}}</p>

                            <a href="cart.html" class="btn btn-primary"><i class="fa fa-info"></i> Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}

{% block category %}
<div class="col-md-3" data-animate="fadeInRight" data-delay="200">
    <h5 class="text-faded">{{"txt.categories"|trans|raw}}</h5>
    <ul class="list-group list-group-front">
    {% for category in categories %}
    <li class="list-group-item active"><a href="catalog.html"><i class="{{category.faicon}}"></i> {{category.name}}</a></li>
    {% endfor %}
</ul>

</div>
{% endblock %}
