<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7 paceSimple sidebar sidebar-fusion sidebar-kis footer-sticky navbar-sticky"> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8 paceSimple sidebar sidebar-fusion sidebar-kis footer-sticky navbar-sticky"> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9 paceSimple sidebar sidebar-fusion sidebar-kis footer-sticky navbar-sticky"> <![endif]-->
<!--[if gt IE 8]> <html class="ie paceSimple sidebar sidebar-fusion sidebar-kis footer-sticky navbar-sticky"> <![endif]-->
<!--[if !IE]><!--><html class="paceSimple sidebar sidebar-fusion sidebar-kis footer-sticky navbar-sticky"><!-- <![endif]-->
<head>
    <title>Nakupujem.net - </title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <!--
	**********************************************************
	In development, use the LESS files and the less.js compiler
	instead of the minified CSS loaded by default.
	**********************************************************
	<link rel="stylesheet/less" href="{{ asset('assets/less/shop/')}}module.shop.stylesheet-complete.less" />
	-->

            <!--[if lt IE 9]><link rel="stylesheet" href="{{ asset('assets/components/library/bootstrap/css/')}}bootstrap.min.css" /><![endif]-->

                    <link rel="stylesheet" href="{{ asset('assets/css/shop/')}}module.shop.stylesheet-complete.min.css" />
        			<link rel="stylesheet/less" href="{{ asset('assets/mine/wysihtml5.less')}}" />
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="{{ asset('assets/library/jquery/')}}jquery.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="{{ asset('assets/library/jquery/')}}jquery-migrate.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="{{ asset('assets/library/modernizr/')}}modernizr.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="{{ asset('assets/plugins/core_less-js/')}}less.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="{{ asset('assets/plugins/charts_flot/')}}excanvas.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="{{ asset('assets/plugins/core_browser/ie/')}}ie.prototype.polyfill.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>    <script>if (/*@cc_on!@*/false && document.documentMode === 10) { document.documentElement.className+=' ie ie10'; }</script>

</head><body>

	<div class="container-fluid">
        <!-- Nav Bar -->   
<div class="navbar navbar-coral navbar-fixed-top">
    <!-- Nav Bar Header -->
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle " data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar "></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Nakupujem.net</a>
        </div>
        <!-- Nav Bar Right -->          
        <ul class="nav navbar-nav navbar-right right-side">
            <!-- User LogIn Button -->
            <li> 
                <div class="btn-group">
                    <a href="#" class="btn btn-login"> Login</a>
                    <a href="#" class="btn btn-signup glyphicons user_add"><i></i>Sign up</a>
                </div>
            </li>
        </ul>
    </div>
</div>



        <div id="content"><div class="page-title">
	<div class="container">
		<a href="#" class="btn btn-default btn-sm"><i class="fa fa-arrow-left fa-fw"></i> Späť na produkty</a>
	</div>
</div>

<div class="container">
	<div class="row">

		
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="{{asset('uploads/photos/')}}{{product.photo[0].path}}" alt="photo" class="img-responsive" />
			</div>
			<div id="owl-product" class="owl-carousel owl-theme">
	  	  	
			  	<div class="item">
			  		<a href="product.html">
						<img src="{{ asset('assets/images/shop/')}}photodune-4138999-woman-with-open-lips-in-black-hat-on-dark-background-s.jpg" alt="photo" class="thumb img-responsive" />
					</a>
			  	</div>
			  	  	
			  	<div class="item">
			  		<a href="product.html">
						<img src="{{ asset('assets/images/shop/')}}photodune-4473192-long-wavy-hair-s.jpg" alt="photo" class="thumb img-responsive" />
					</a>
			  	</div>
			  	  	
			  	<div class="item">
			  		<a href="product.html">
						<img src="{{ asset('assets/images/shop/')}}photodune-4473191-long-wavy-hair-s.jpg" alt="photo" class="thumb img-responsive" />
					</a>
			  	</div>
			  	  	
			  	<div class="item">
			  		<a href="product.html">
						<img src="{{ asset('assets/images/shop/')}}photodune-4524609-long-wavy-hair-s.jpg" alt="photo" class="thumb img-responsive" />
					</a>
			  	</div>
  			</div>







		</div>

		<div class="col-md-8">
			<h1 class="title text-primary">{{product.title}}</h1>
			{{product.description}}
			<div class="separator"></div>

			<div class="box-generic padding-none">
				<h3 class="strong margin-none innerAll border-bottom text-inverse">Price: {{product.price}}€</h3>
				<div class="innerAll">
					<button data-toggle="collapse" href="#details" class="btn btn-primary btn-block strong"><i class="fa fa-comments"></i> Kontaktovať predajcu</button>
				</div>
				<div id="details" class="row innerAll collapse" style="height: 0;">
					<div class="col-md-12">
						<!-- Seller´s info -->
						<div class="widget">
							<!-- Widget heading -->
							<div class="widget-head">
								<h4 class="heading">Kontaktovať priamo</h4>
							</div>
							<!-- // Widget heading END -->
							
							<div class="widget-body">
								{{form_start(form)}}
								<div class="form-group">
									<label for="nakupujem_shopbundle_contact_form_subject">Predmet</label>
									{{form_widget(form.subject, {'value': 'Odpoveď z Nakupujem.net: '~product.title})}}
								</div>
								<div class="form-group">
									<label for="nakupujem_shopbundle_contact_form_message">Správa</label>
									{{form_widget(form.message)}}
								</div>

								{{form_end(form)}}
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<!-- Seller´s info -->
						<div class="widget">
							<!-- Widget heading -->
							<div class="widget-head">
								<h4 class="heading">Predavajúci</h4>
							</div>
							<!-- // Widget heading END -->
							
							<div class="widget-body">
								<table>
									<tbody>
										<tr>
											<th>Meno:</th><td class="innerL">{{product.user.name}}</td>
										</tr>
										<tr>
											<th>Priezvisko:</th><td class="innerL">{{product.user.lastname}}</td>
										</tr>
										<tr>
											<th>E-mail:</th><td class="innerL">{{product.user.email}}</td>
										</tr>
										<tr>
											<th>Telefónne číslo:</th><td class="innerL">{{product.user.phone}}</td>
										</tr>
										<tr>
											<th>Okolie:</th><td class="innerL">{{product.user.location}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-12">
				<h1 class="title text-inverse">Podmienky</h1>
				<div class="widget widget-tabs">
					<!-- Tabs Heading -->
					<div class="widget-head">
						<ul>
							<li class="active"><a class="glyphicons truck" href="#tab-1" data-toggle="tab"><i></i>Doručenie</a></li>
							<li><a class="glyphicons share" href="#tab-2" data-toggle="tab"><i></i>Návratnosť</a></li>
							<li><a class="glyphicons remove" href="#tab-3" data-toggle="tab"><i></i>Zrušenie</a></li>
						</ul>
					</div>
					<!-- // Tabs Heading END -->
					
					<div class="widget-body">
						<div class="tab-content">
						
							<!-- Tab content -->
							<div class="tab-pane active animated fadeInUp" id="tab-1">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, debitis magnam perferendis numquam eum repudiandae. Illum, ullam, hic, sapiente blanditiis ea ut quos voluptatum quidem veritatis sunt itaque totam quis incidunt saepe eaque enim.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, animi, excepturi, numquam iusto optio sapiente ea iste reprehenderit voluptas recusandae at blanditiis. Doloremque, libero, quidem provident accusantium sequi eligendi blanditiis?</p>
							</div>
							<!-- // Tab content END -->
							
							<!-- Tab content -->
							<div class="tab-pane animated fadeInUp" id="tab-2">
								<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
							</div>
							<!-- // Tab content END -->

								<!-- Tab content -->
							<div class="tab-pane animated fadeInUp" id="tab-3">
								<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
							</div>
							<!-- // Tab content END -->
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
		<div class="parallax bg-gray innerTB inner-2x">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="text-center innerAll inner-2x" data-animate="fadeInUp" data-delay="350">
                            <h2>{{"txt.support"|trans|raw}}</h2>
                            
                        </div>
                        <div class="text-center innerAll inner-2x" data-animate="fadeInUp" data-delay="400">
                            <p class="margin-none lead text-center">
                                <i class="fa fa-2x text-faded fa-phone"></i><br/>
                                +421-948038541<br/>
                                +421-908483898
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="text-center innerAll inner-2x" data-animate="fadeInRight" data-delay="200">
                            <div class="lead innerAll text-center">
                                <i class="fa fa-5x text-faded fa-map-marker"></i>
                                <div class="separator"></div>
                                <p class="lead strong">Nakupujem.net</p>
                                Povstanie českého ľudu 22,
                                Košice<br/>
                                04022
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="footer" class="hidden-print">
        <div class="container">
            <div class="copy">Copyright &copy; 2014 Nakupujem.net. All Rights Reserved.</div>
        </div>
    </div>
    <!-- // Footer END -->
</div>

    <!-- Global -->
    <script data-id="App.Config">
        var App = {};        var basePath = '',
            commonPath = '../assets/',
            rootPath = '../',
            DEV = false,
            componentsPath = '../assets/components/';

        var primaryColor = '#eb6a5a',
            dangerColor = '#b55151',
            successColor = '#609450',
            infoColor = '#4a8bc2',
            warningColor = '#ab7a4b',
            inverseColor = '#45484d';

        var themerPrimaryColor = primaryColor;

            </script>

    <script src="{{ asset('assets/library/bootstrap/js/')}}bootstrap.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="{{ asset('assets/components/front_core/')}}front.core.init.js?v=v2.0.0-rc1"></script>
<script src="{{ asset('assets/components/shop_core/')}}shop.animations.init.js?v=v2.0.0-rc1"></script>
<script src="{{ asset('assets/plugins/core_preload/')}}pace.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="{{ asset('assets/components/core_preload/')}}preload.pace.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="{{ asset('assets/plugins/media_owl-carousel/')}}owl.carousel.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="{{ asset('assets/components/shop_owl-carousel/')}}front.shop.owl-carousel.product.init.js?v=v2.0.0-rc1"></script>
<script src="{{ asset('assets/plugins/forms_elements_bootstrap-select/js/')}}bootstrap-select.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="{{ asset('assets/components/forms_elements_bootstrap-select/')}}bootstrap-select.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="{{ asset('assets/plugins/media_holder/')}}holder.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="{{ asset('assets/components/core/')}}core.init.js?v=v2.0.0-rc1"></script>
<script src="{{ asset('assets/plugins/ui_modals/')}}bootbox.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="{{ asset('assets/components/ui_modals/')}}modals.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="{{ asset('assets/plugins/notifications_gritter/js/')}}jquery.gritter.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="{{ asset('assets/components/admin_notifications_gritter/')}}gritter.init.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="{{ asset('assets/plugins/forms_editors_wysihtml5/js/')}}wysihtml5-0.3.0_rc2.min.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="{{ asset('assets/plugins/forms_editors_wysihtml5/js/')}}bootstrap-wysihtml5-0.0.2.js?v=v2.0.0-rc1&amp;sv=v0.0.1.2"></script>
<script src="{{ asset('assets/components/forms_editors_wysihtml5/')}}wysihtml5.init.js?v=v2.0.0-rc1"></script>
</body>
</html>